# Importing/Loading & Exporting/Saving
Pandas has I/O functions for almost every major file format.

In [3]:
import pandas as pd

In [4]:
data = {
    'Name' : ['Bial', 'Ahmed', 'Owais', 'Salman', 'Mukhtar'],
    'Age' : [22, 4, 16, 40, 40],
    'Fav_food' : ['Everything', 'Nuggets', 'Shawarma', 'Nihari', 'Nihari'],
}
df = pd.DataFrame(data, index=[1, 2, 3, 4, 5])
df

# df.to_csv('Example.csv')

      Name  Age    Fav_food
1     Bial   22  Everything
2    Ahmed    4     Nuggets
3    Owais   16    Shawarma
4   Salman   40      Nihari
5  Mukhtar   40      Nihari

In [17]:
# .csv
#Export
df.to_csv('CSV.csv', index=False)

In [ ]:
# .csv
#Import
df = pd.read_csv('CSV.csv', sep=',', index_col=0, header=0, usecols=['Name', 'Age'])
df

In [ ]:
# .xls or xlsx
# Export
df.to_excel('Excel.xlsx', index=False, sheet_name='Sheet1')

In [ ]:
#Import
df = pd.read_excel('Excel.xlsx', sheet_name='Sheet1', index_col=None) 
df

In [ ]:
# html import

import requests

url = "https://en.wikipedia.org/wiki/Population"

headers = {'User-Agent' : 'Mozilla/5.0'}
response = requests.get(url, headers=headers)

df = pd.read_html(response.text)

len(df)
df[0].head()

In [ ]:
import sqlite3

conn = sqlite3.connect('mydb.db')

'''df = pd.DataFrame({
    'Name' : ['Kainat', 'Hamza', 'Usman', 'Rimsha'],
    'Age' : [20, 18, 30, 25],
    'Gender' : ['F', 'M', 'M', 'F']
}, index=[1, 2, 3, 4])'''

df.to_sql('users', conn, if_exists='replace', index=False)

In [ ]:
pd.read_sql('SELECT*FROM users', conn)