# Pandas Dataframes
Think of a dataframe like a table. It is a 2d table with rows(index) and columns(labels). You can imagine it as an Excel sheet of SQL database table.

In [2]:
import pandas as pd

In [ ]:
data = {
    'Name' : ['Urooj', 'Kainat', 'Fatima', 'Muskan'],
    'Age' : [20, 30, 24, 19], 
    'Salary' : [00, 20000, 30000, 10000],
    'Hobbies' : ['None', 'Cycling', 'Reading', 'Cooking']
}

df = pd.DataFrame(data, index=[1, 2, 3, 4])
print(df)
print(df.dtypes)
print(df.index)

In [ ]:
df = pd.DataFrame({
    'Fruits' : ['Apple', 'Mango', 'Orange', 'Banana'],
    'Vegetables' : ['Onion', 'Brinjal', 'Tomato', 'Potato'],
    'Spices' : ['Red Chilli', 'Black Pepper', 'Green Chilli', 'White Pepper']
}, index=[1, 2, 3, 4])

print(df)

print(df.shape)
print(df.values)
print(df.size)
print(df.index)
print(df.ndim)
print(df.columns)
print(df.dtypes)

In [ ]:
data = {
    'Name' : ['Urooj', 'Kainat', 'Fatima', 'Muskan'],
    'Age' : [20, 30, 24, 19], 
    'Salary' : [00, 20000, 30000, 10000],
    'Hobbies' : ['None', 'Cycling', 'Reading', 'Cooking']
}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
print(df)

# accessing a column
print(df.Hobbies)
print(df['Name'])
print(df[['Age', 'Salary']])

# accessing a row
print(df.iloc[0]) # position based access
print(df.loc['d']) # index based access
print(df.loc['d', 'Hobbies'])
print(df.iloc[3, 0])

In [ ]:
data = {
    'Name' : ['Bisma', 'Zoya', 'Kainat'],
    'Age' : [23, 21, 20],
    'Ninth Marks' : [450, 300, 421],
    'Matric Marks' : [420, 460, 300]
} 

df1 = pd.DataFrame(data, index=[1, 2, 3])
print(df1)
df1['Total Marks'] = df1['Ninth Marks'] + df1['Matric Marks']
print(df1)
df1['Percentage'] = (df1['Total Marks'] / 1000) * 100
print(df1)

In [ ]:
df1 = pd.DataFrame({
    'Marks' : [300, 350, 200, 450]
})

df2 = pd.DataFrame({
    'Marks' : [1000, 1240, 1350, 1005]
})

print(df1 + df2)
print(df1 - df2)
print(df1 / df2)