## Filtering

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'Name' : ['Zohaib', 'Bisma', 'Qasim', 'Maaz', 'Hiba', 'Nasir'],
    'Age' : [23, 45, 69, 50, 14, 36],
    'City' : ['Karachi', 'Lahore', 'Peshawar', 'Multan', 'Lahore', 'Karachi'],
    'Job' : ['Painter', 'Cheif', 'Programmer', 'Doctor', 'Plumber', 'Accountant']
}, index=[1, 2, 3, 4, 5, 6])

df

In [ ]:
from datetime import date

today = date.today()

df['Birthdate'] = df['Age'].apply(lambda x: today.replace(year = today.year - x))
df

In [ ]:
filtered = df[df['Age'] >= 50]
filtered

In [ ]:
df[df['City'].isin(['Lahore', 'Karachi'])]

In [ ]:
df[df['Name'].notna()]

In [ ]:
df[df['Job'].str.endswith('r')]

In [ ]:
df[(df['Age'] < 50) & (df['City'].isin(['Lahore', 'Peshawar']))]

In [ ]:
df.loc[df['Age'] > 30, 'Name']

In [ ]:
import numpy as np

df.loc[2, 'Job'] = np.nan

## Querying

In [ ]:
df = pd.DataFrame({
    'Name' : ['Alice', 'Bob', 'Mike', 'Smith'],
    'Age' : [23, 40, 36, 19],
    'Job' : ['Programmer', 'Doctor', 'Scientist', 'Painter']
})

df

In [ ]:
df.query('Age > 20')

In [ ]:
df.query('Age > 20 and Job == "Programmer"')