In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('titanic.csv')

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df = df.drop_duplicates()

In [ ]:
df = df.drop(columns=['Cabin'])

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [ ]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [ ]:
df.Fare.min()

In [ ]:
# How many rows and columns?
df.shape
# How many unique values in Pclass, Sex, Embarked?
df['Pclass'].nunique(), df['Sex'].nunique(), df['Embarked'].nunique()
# What’s the average, min, and max of Age and Fare?
df[['Age', 'Fare']].describe()

In [ ]:
# Count how many passengers were in each Pclass.
df['Pclass'].value_counts().plot(kind='bar', figsize=(6,5), title='Passenger Class Count')

In [ ]:
# Count how many passengers survived vs not.
df['Survived'].value_counts().plot(kind='bar', figsize=(6, 5), title='Survived vs. Not')

In [ ]:
# Compare survival by sex.
df.groupby('Sex')['Survived'].mean()

In [ ]:
# Compare survival by pclass.
df.groupby('Pclass')['Survived'].mean()

In [ ]:
# Compare survival by Embarked.
df.groupby('Embarked')['Survived'].sum()

In [ ]:
# Compare survival by Age groups (e.g., 0–12 child, 13–18 teen, 19–40 adult, 41+ senior).
df['AgeGroup'] = pd.cut(df['Age'], bins=[0, 12, 18, 40, 80], labels=['Child', 'Teen', 'Adult', 'Senior'])
df.groupby('AgeGroup')['Survived'].mean()

In [ ]:
# Compare survival across Sex and Pclass together.
df.groupby(['Sex', 'Pclass'])['Survived'].mean()

In [ ]:
# Compare survival rate of children vs adults within classes.
df.groupby(['Pclass', 'AgeGroup'])['Survived'].sum()

In [ ]:
# Compare Fare distribution for survivors vs non-survivors.
df.boxplot(column='Fare', by='Survived')

In [ ]:
# Which title (Mr, Miss, Mrs, Master) had highest survival?
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
df.groupby('Title')['Survived'].mean()

In [ ]:
# Did larger families (FamilySize = SibSp + Parch + 1) survive more or less?
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
df.groupby('FamilySize')['Survived'].mean()

In [ ]:
# Who paid the highest fare and did they survive?
highest_fare = df.loc[df['Fare'].idxmax()]
print(highest_fare)